*{
    margin: 0%;
    padding: 0%;
}

.colorRed{
    color: #6B3638;
}

.backgroundRed{
    background-color: #6B3638;
}

.backgroundGris{
    background-color: #DCE2E2;
}

.backgroundGrRosado{
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
}

.backgroundGrRosadoSG{
    background: #d6c6c4;  
}


body{        
    background-color: #DCE2E2;
    width: 100%;    
    font-family: serif;    
}

nav{
    position: fixed;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #DCE2E2;
    padding: 1% 5%;    
    z-index: 10;
}

header{
    position: fixed;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #6B3638;
    margin-top: 80px;
    z-index: 10;   
}

.buttonNavbar{    
    color: #6B3638;
    font-size: 2rem;   
    border: none;
}

button{
    border: none;
    background:none;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.imgLogoNavbar{   
    height: 100%;     
}

.buttonHeader{    
    color: white;
    float: left;
    margin: 5px 20px;
    border: none;
}

.icon{
    color: #D9D9D9;
    font-size: large;
}

.iconoWhatsapp{
    height: 20px;
    width: 20px;
}

main{
    display: flex;        
    display: grid;
    width: 100%;
    grid-column: 1/10;        
}

.imgPortada{
    width: 100%;
}

section{
    margin-top: 140px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonComercializaTuProp{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    background-color: #73914E;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 4px 22px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    width: 100%;    
    margin-top: 20px;
}

main section article a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}

footer{ 
    width: 100%;
    background-color: #6B3638;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: bold;   
    color: #2C3039; 
}

footer h2{
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    z-index: 5;
    text-align: center;
    margin: 20px 5% 10px 5%;
    color: #2C3039;    
}

p{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: relative;
    z-index: 5;
    text-align: center;   
}

.imgDePortadaBienvenida{    
    object-fit: cover;    
    right: 0;
    position: absolute;    
    z-index: 1;
    width: 30rem;
}

nav ul{    
    display: none;    
    /* visibility: hidden; */
    list-style: none;
    align-items: end;   
    position: absolute;
    background-color: #DCE2E2;
    width: 100%;
    height: auto;
    padding: 20px;  
    top: 80px;
    left: 0;     
    /* transform: translateX(0);
    transition: 0.3s;     */
}

.active{    
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* transform: translateY(0);  
    transition: 0.3s;            */
}


nav i{    
    display: flex;
    font-size: 50px;    
    justify-content: center;
    align-items: center;    
}

a{
    text-decoration: none;    
}

.mapa{
    width: 90% ;
    height: 250px;
    margin: 10px 0px;
    padding: 0px 0px;
    box-shadow: 2px 2px 2px 2px rgba(32,32,32,0.2);    
}

footer input{
    width: 90%;
    padding: 5px;
    margin: 10px 0px;    
}

footer textarea{
    width: 90%;
    padding: 5px;
    margin: 10px 0px;    
}

.submit{
    box-shadow: 2px 2px 2px 2px rgba(32,32,32,0.2);
}

footer h2{
    margin: 20px 0px;
}

main form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C3039;
    width: 90%;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

main form div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C3039;
    width: 100%;    
}

main form p{
    color: white;
    margin-top: 20px;
}

main select{
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    font-size: 1.1rem;       
}

main form input{
    width: 90%;
    margin: 50px 0px 20px 0px;
    height: 40px;
}


article figure{
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

figure img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: bold;   
    color: #2C3039; 
}

.destacadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    margin-top: 0px;
}

h2{
    padding-top: 30px;
    margin-bottom: 0px;
}

.cardDestacada{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}

.contenidoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section article div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    background-color: #73914E;
    color: white;
    border-radius: 25px;
    font-size: 1.1rem;
}

nav select{
    border: none;    
    background: none;        
}

.tituloDestacadas{
    display: flex;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    padding-bottom: 10px;
}

option{
    font-size: 1.2rem;
}

.tituloSectionServicios{
    padding-bottom: 25px;
    top: 0;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
}

.tituloCardServicio{
    padding: 0px 5%;       
    color: white;    
}

.servicios{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;    
    margin-top: 0px;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
}

.servicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px;
    border-radius: 20px;
    background-color: #6B3638;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.9);   
    margin: 25px 15%;
    opacity: 95%;    
    margin: 20px;  
    width: 200px;          
}

.imgServicios{
    display: flex;    
    width: 70%;
}

.imgNosotros{
    width: 100%;    
}

.sectionNosotros{
    background-color: #DCE2E2;
    padding: 3% 5% 0% 5%;
    margin-top: 0px;
}

.h3Nosotros{
    margin: 25px;
}

.mainAlquiler{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 200px; 
    color: #6B3638;
}

.igAlquiler{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #6B3638;     
}

.contenedorCardsVentas{
    display: flex;
    display: grid;
    grid-template-columns: auto;    
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}

.tarj{    
    margin: 5% 0px;
}

.col{
    display: flex;
    justify-content: center;
}

.card-body{
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 350px;
    justify-content: space-between;
}

.card{    
    border-radius: 10px;
    border: solid 1px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);  
    background-color: #DCE2E2;           
}

.carousel{
    margin: 5%;
}

.btn{    
    border-radius: 20px;
}

.btn-success{
    background-color: #008000;
}

h5{
    text-align: center;
}

h6{
    text-align: center;
}

.contenedorFiltros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}

.contenedorFiltros .btn{
    margin: 5px 10px 10px 5px;
    font-weight: bolder;
    border: 2px solid grey;
    border-radius: 10px;      
     
}

.mainVenta {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 165px;
    color: #6B3638;
}

.buscador{
    padding: 6px ;
    margin: 5px 10px 10px 5px;
    font-weight: bolder;
    border: 2px solid;
    color: gray;
    border-color: gray;
    border-radius: 10px;  
}

.filtroActivo{
    background-color: #6B3638;
    color: white;    
}

.contenedorDetallesProp{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

h4{
    text-align: center;
}

.textos-card-detalle{
    padding-bottom: 20px;
}

.cardBodyDetalles{
    flex-direction: column;
    align-items: center;
    display: flex;    
    justify-content: space-between;
}

.carousel-detalles{
    margin: 0%;
    margin-bottom: 20px;
}

.mainDetalles{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 165px;
    color: #6B3638;
}

.formDetalles{
    width: 100%;
    color: white;    
}

.inputDetalles{
    margin: 20px 2%;
    width: 90%;    
}

.labelDetalles{
    margin-top: 10px;
}

.h2Detalles{
    font-size: 1.4rem;
    padding: 20px 0px;
    background-color: #2C3039;
    color: white;
}

.labelComercializar{
    color: white;
    margin-top: 20px;
    font-size: 1.3rem;
}

.pComercializar{
    margin: 0px 5%;
}

.cajasFooterComercializar{
    flex: grid;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.mainNosotros{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 130px;
    color: #6B3638;
}

.presentacionNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorCardsDestacadas{
    margin-top: 0px;
    padding: 5%;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    display: flex;
    display: grid;
    grid-template-columns: auto;    
    flex-direction: column;
    align-items: center;
    gap: 20px;    
}
    

@media(max-width: 280px){
    .imgLogoNavbar{
        width: 100%;
        height: 70%;
    }

    nav{
        justify-content: center;
    }

}

@media(min-width: 514px){    
    
    .presentacionNosotros{
        flex-direction: row;
        align-items: flex-start;        
    }

    .pNosotros{
        text-align: start;
        padding-left: 5%;
    }

    .servicios{
        display: grid;
        grid-template-columns: auto auto;        
    }    

    .servicio{
        margin: 20px;  
        width: 200px;      
    }

    .imgNosotros{
        width: 50%;
    }

    .sectionNosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formDetalles{
        display: grid;        
    }

    .inputDetalles{        
        margin: 5px 5%;    
    }       

    
    .labelDetalles{        
        margin-left: 2%;  
    }
    .h2Detalles{
        font-size: 1.2rem;
        padding: 0px;
    }

    .formDetalles{
        padding: 5%;
    }

    .mainDetalles{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1rem;        
    }

    .contenedorDetallesProp{
        flex-direction: row;        
    }

    .card-body-detalles{    
        padding-left: 20px;
    }

    .formComercializar{
        display: grid;
        grid-template-columns: auto auto;
    }

    .cajasFooterComercializar{
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
    }

    .contenedorCardsDestacadas{
        grid-template-columns: auto auto;
    }

}


@media(min-width: 768px){

    .imgNosotros{
        width: 30%;        
    }

    .servicios{
        display: grid;
        grid-template-columns: auto auto;        
    }
   
    nav select{
        font-size: 1.5rem;    
    }    

    .cardDestacada{
        width: 28%;        
    }

    .destacadas{
        flex-direction: row;
        
    }

    main form{        
        align-items: end;
        flex-direction: row;
        background-color: #2C3039;
        width: 90%;
        padding: 20px;        
    }

    main form input{
        width: 100%;
        margin: 0px;               
    }

    .buttonComercializaTuProp{               
        background-color: #73914E;
        border-radius: 20px;
        font-size: 1.6rem;
        padding: 4px 22px;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
        width: 100%;
    }
    
    footer div{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        width: 50%;        
    }

    .mapa{
        width: 75%;
        height: 405px;
    }

    .formularioFooter{
        float: left;        
    }
    
    .lineasTelefonicas{
        float: left;
    }

    .contactoEmail{
        margin-bottom: 100px;
    }

    .lineasTelefonicas{
        margin-bottom: 100px;
    }

    h1{
        margin-top: 30px;
        margin-bottom: 10px;
    }
   
    .buttonComercializaTuProp{
        /* margin-bottom: 40px;
        margin-top: 40px; */
    }

    .contenedorCardsVentas{
        grid-template-columns: auto auto;        
    }   

    .mainDetalles{
        
        grid-template-columns: auto auto;
              
    }

    .formComercializar{        
        grid-template-columns: auto auto auto;
    }

    .contenedorCardsDestacadas{
        grid-template-columns: auto auto auto;        
    }   

    

}

@media(min-width: 860px){  
    .contenedorCardsVentas{
        grid-template-columns: auto auto auto;            
    }
    .contenedorCardsDestacadas{
        grid-template-columns: auto auto auto;            
    }
    
    .servicios{
        display: grid;
        grid-template-columns: auto auto auto;
        padding-bottom: 50px ;
    }

    .imgServicios{           
        width: 50%;
    }

    .tituloServicio{
        font-size: 1.2rem;
    }

    .imgLogoNavbar{
        height: 65px;
    }

    nav ul{            
        display: flex;        
        list-style: none;
        align-items: center;
        justify-content: end;
        width: 100%;
        height: 100%;
        padding: 0px 5% 0px 0px;          
        position: absolute;
        background:none;    
        top: 0;          
        z-index: -1;
    }

    nav ul li{
        display: inline;        
    }

    .active{
        display: flex;
    }

    .buttonNavbar{
        font-size: 1.3rem;        
    }

    .selectVenta{
        width: 75px;
        font-size: 1.3rem;
    }

    .selectAlquiler{
        width: 95px;
        font-size: 1.3rem;
    }

    nav i{
        visibility: hidden;        
    }

    nav{
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;        
    }

    .buttonComercializaTuProp{
        /* margin-bottom: 40px;
        margin-top: 40px; */
    }

    header{
        margin-top: 80px;
    }

}

@media(min-width: 1023px){

    .mainDetalles{
        display: grid;
        grid-template-columns: auto auto ;
        grid-gap: 1rem;        
    }

    .contenedorDetallesProp{
        flex-direction: row;
        
    }

    .imgCardDetalle{
        
    }

    .formComercializar{        
        grid-template-columns: auto auto auto auto;
    }

    .contenedorCardsDestacadas{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0px;
    }

}


@media(min-width: 1250px){
    .contenedorCardsVentas{
        grid-template-columns: auto auto auto auto;            
    }

    .contenedorCardsDestacadas{
        grid-template-columns: auto auto auto auto;            
    }

    .servicios{
        display: grid;
        grid-template-columns: auto auto auto auto auto;        
    }

    .buttonComercializaTuProp{
        /* margin-bottom: 40px;
        margin-top: 40px; */
    }

    .imgLogoNavbar{
        height: 65px;
    }

    nav ul{        
        height: 90px;        
    }

    nav{
        height: 90px;
    }

    header{
        margin-top: 90px;
        height: auto;
    }

}

@media (hover: hover){
    li:hover{
        background-color: #6B3638;
        color: white;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .buttonNavbar:hover{        
        color: white;        
    }

    .selectAlquiler:hover{       
        color: white;               
    }

    option{
        color: #6B3638;
    }
    
    .selectVenta:hover{       
        color: white;       
    }

    li:active{
        background-color: #6B3638;
        color: white;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .selectAlquiler:active{       
        color: white;       
    }
    
    .selectVenta:active{       
        color: white;       
    }
    
}

