*{
    margin: 0%;
    padding: 0%;
}

body{
    /* background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    */
    background-image: url(../img/FondoCasas.jpg);
    width: 100%;    
    font-family: serif;    
}

nav{
    position: fixed;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 80px;
    width: 100%;
    background-color: #D9D9D9;
    padding: 10px;
    z-index: 10;
}

header{
    position: fixed;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #6B3638;
    margin-top: 80px;
    z-index: 10;   
}

.buttonNavbar{    
    color: #2C3039;
    font-size: 1.2rem;   
    border: none;
}

button{
    border: none;
    background:none;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.imgLogoNavbar{   
    height: 100%;     
}

.buttonHeader{    
    color: white;
    float: left;
    margin: 5px 20px;
    border: none;
}

.icon{
    color: #D9D9D9;
    font-size: large;
}

.iconoWhatsapp{
    height: 20px;
    width: 20px;
}

main{
    display: flex;        
    display: grid;
    width: 100%;
    grid-column: 1/10;        
}

section{
    margin-top: 140px;
}

article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonComercializaTuProp{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    background-color: #73914E;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 4px 22px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    width: 100%;    
}

main section article a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}

footer{ 
    width: 100%;
    background-color: #6B3638;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: bold;   
    color: #2C3039; 
}

footer h2{
    color: white;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    position: relative;
    z-index: 5;
    text-align: center;
    margin-top: 20px;
    color: #2C3039;    
}

p{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    position: relative;
    z-index: 5;
    text-align: center;
    margin-bottom: 25px;
}

.imgDePortadaBienvenida{    
    object-fit: cover;    
    right: 0;
    position: absolute;    
    z-index: 1;
    width: 30rem;
}

nav ul{    
    position: relative;
    list-style: none;
    align-items: end;
    visibility: hidden;
}

nav i{
    display: flex;
    font-size: 50px;    
    justify-content: center;
    align-items: center;    
}

a{
    text-decoration: none;
}

.mapa{
    width: 90% ;
    height: 250px;
    margin: 10px 0px;
    padding: 0px 0px;
    box-shadow: 2px 2px 2px 2px rgba(32,32,32,0.2);    
}

footer input{
    width: 90%;
    padding: 5px;
    margin: 10px 0px;    
}

footer textarea{
    width: 90%;
    padding: 5px;
    margin: 10px 0px;    
}

.submit{
    box-shadow: 2px 2px 2px 2px rgba(32,32,32,0.2);
}

footer h2{
    margin: 20px 0px;
}

main form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C3039;
    width: 90%;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
main form div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2C3039;
    width: 100%;    
}

main form p{
    color: white;
    margin-top: 20px;
}

main select{
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    font-size: 1.1rem;    
}

main form input{
    width: 90%;
    margin: 50px 0px 20px 0px;
    height: 40px;
}


article figure{
    display: flex;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

figure img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    position: relative;
    z-index: 5;
    text-align: center;
    font-weight: bold;   
    color: #2C3039; 
}

.destacadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    margin-top: 0px;
}

h2{
    padding-top: 30px;
    margin-bottom: 0px;
}

.cardDestacada{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);

}

.contenidoCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section article div a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    background-color: #73914E;
    color: white;
    border-radius: 25px;
    font-size: 1.1rem;
}

nav select{
    border: none;    
    background: none;    
}

.tituloDestacadas{
    display: flex;
    background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    padding-bottom: 10px;
}

option{
    font-size: 1.2rem;
}


@media(max-width: 280px){
    .imgLogoNavbar{
        width: 100%;
        height: 70%;
    }

    nav{
        justify-content: center;
    }

}

@media(min-width: 768px){
    .cardDestacada{
        width: 28%;        
    }

    .destacadas{
        flex-direction: row;
        
    }

    main form{        
        align-items: end;
        flex-direction: row;
        background-color: #2C3039;
        width: 90%;
        padding: 20px;        
    }

    main form input{
        width: 90%;
        margin: 0px;               
    }

    .buttonComercializaTuProp{               
        background-color: #73914E;
        border-radius: 20px;
        font-size: 1.6rem;
        padding: 4px 22px;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
        width: 100%;
    }
    
    footer div{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        width: 50%;        
    }

    .mapa{
        width: 75%;
        height: 405px;
    }

    .formularioFooter{
        float: left;        
    }
    
    .lineasTelefonicas{
        float: left;
    }

    .contactoEmail{
        margin-bottom: 100px;
    }

    .lineasTelefonicas{
        margin-bottom: 100px;
    }
    
}

@media(min-width: 860px){
    nav ul{   
        display: flex;         
        list-style: none;
        align-items: center;
        visibility: visible;
        margin: 0px;
        order:1;
    }

    nav i{
        visibility: hidden;
        
    }

    nav{
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }

}