*{
    margin: 0%;
    padding: 0%;
}

body{
    /*background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);
    */
    background-image: url(../img/FondoCasas.jpg);
    width: 100%;    
    font-family: serif;

}


/*.container{    
    display: flex;        
    display: grid;
    grid-template-columns: auto auto auto;
    
    
    /*background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);    
    */
    
   /* width: 100%;
    
}*/


nav{
    position: fixed;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #D9D9D9;
    padding: 10px 0px;
    z-index: 10;
}


header{
    position: fixed;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #6B3638;
    margin-top: 80px;
    z-index: 10;
   
}


.imgLogoNavbar{   
    display: flex;
    align-self: flex-start;
    height: 100%;
    float: left;
    margin-left: 3%;
    
}


.buttonNavbar{    
    color: #2C3039;
    font-size: 1.5rem;   
    border: none;

}


button{
    border: none;
    background:none;
    padding: 5px 20px;
    /*box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);*/
    font-size: 1.2rem;
}


.buttonHeader{    
    color: white;
    float: left;
    margin: 5px 20px;
    border: none;
}


.icon{
    color: #D9D9D9;
    font-size: large;

}


.iconoWhatsapp{
    height: 20px;
    width: 20px;
}


main{
    display: flex;        
    display: grid;
    grid-template-columns: auto auto auto;   
    /*background: rgb(214,198,196);
    background: linear-gradient(90deg, rgba(214,198,196,1) 48%, rgba(255,249,251,1) 100%);    
    */    
    width: 100%;
    grid-column: 1/10;

}


section{
    margin-top: 140px;
    
}


/*.sectionBienvenida{
    background-image: url("LlaveDePortada.png");
    
}
*/

.buttonComercializaTuProp{
    color: white;
    background-color: #73914E;
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px 1px rgba(32,32,32,0.3);
}


footer{
    grid-column: 1/10;
    height: 300px;
    width: 100%;
    background-color: #6B3638;
    color: white;
    font-size: 1.3rem;
}


.textosBienvenida{
    padding:  5% 15%;
    position: relative;
    z-index: 5;
   
}


h2{
    font-size: 2rem;
    position: relative;
    z-index: 5;
}


h1{
    font-size: 3rem;
    position: relative;
    z-index: 5;
}


p{
    font-size: 1.5rem;
    position: relative;
    z-index: 5;
}


.imgDePortadaBienvenida{    
    object-fit: cover;    
    right: 0;
    position: absolute;    
    z-index: 1;
    width: 30rem;

}

